<div class="container-fluid search-container">
    <!-- Artist name input -->
    <div class="row justify-content-center mt-3">
        <div class="col-md-6">
            <form>
                <div class="input-group">
                    <input type="text" name="artist-name" class="form-control search-input" #artistName
                        placeholder="Enter artist name">
                    <button (click)="getArtistDetails(artistName.value)" type="submit" class="btn search-btn">
                        <i class="bi bi-search pe-2"></i> Search
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Display artist details and albums -->
    <div *ngIf="artist" class="row">
        <div class="col-md-3 mt-4">
            <!-- artist details-->
            <app-artist-details [artist]="artist"></app-artist-details>
        </div>
        <div class="col-md-9 mt-4">
            <!-- artist's albums -->
            <app-artist-albums [albums]="albums"></app-artist-albums>
        </div>
    </div>
</div>