<div class="container-fluid search-container p-4">
    <!-- Artist name input -->
    <div class="row justify-content-center mt-3">
        <div class="col-md-6">
            <form>
                <div class="input-group">
                    <input type="text" name="artist-name" class="form-control search-input p-2 fs-6" #artistName
                        placeholder="Enter artist name">
                    <button (click)="getArtistDetails(artistName.value)" type="submit" class="btn search-btn fw-bold">
                        <i class="bi bi-search pe-2"></i> Search
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Show loading spinner while fetching data -->
    <div *ngIf="loading" class="d-flex justify-content-center align-items-center mt-5">
        <div class="spinner-border custom-spinner" role="status"></div>
    </div>

    <!-- Display artist details and albums -->
    <div *ngIf="!loading && artist; else artistError" class="row">
        <div class="col-md-3 mt-4">
            <app-artist-details [artist]="artist"></app-artist-details>
        </div>
        <div class="col-md-9 mt-4">
            <app-artist-albums [albums]="albums"></app-artist-albums>
        </div>
    </div>

    <ng-template #artistError>
        <app-error-message *ngIf="!loading && errorMessage" [message]="errorMessage"></app-error-message>
    </ng-template>
</div>