<div class="row">
    <div class="col-md-6 mb-3" *ngFor="let album of albums?.items">
        <div class="card h-100 d-flex flex-row album-card" (click)="goToAlbumDetail(album)" style="cursor: pointer;">

            <!-- Left side: Album Cover -->
            <div class="col-6 p-0">
                <img src="{{album.images[0].url}}" class="img-fluid rounded-start" alt="{{ album.name }}" />
            </div>

            <!-- Right side: Album Details -->
            <div class="col-6 p-3 d-flex flex-column justify-content-between">
                <h5 class="card-title fw-bold text-truncate fs-5 fs-md-4 fs-lg-3">
                    {{ album.name }}
                </h5>
                <div>
                    <p class="card-text fs-6 fs-md-5">
                        <strong>Tracks:</strong> {{ album.total_tracks }}
                    </p>
                    <p class="card-text fs-6 fs-md-5">
                        <strong>Released:</strong> {{ album.release_date }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>