.album-card {
    background-color: #282828; 
    color: #ffffff; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: translateY(-5px); 
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    }
}

.card-title {
    color: #1DB954; 
}

.card-text strong {
    color: #1DB954;
}
