<div class="row g-3">
    <div class="col-md-6" *ngFor="let album of albums?.items">
        <div class="card h-100 album-card" (click)="goToAlbumDetail(album)" style="cursor: pointer;">
            <div class="row g-0">
                <!-- Left side: Album Cover -->
                <div class="col-6">
                    <img [src]="album.images[0].url" class="img-fluid rounded" [alt]="album.name" />
                </div>

                <!-- Right side: Album Details -->
                <div class="col-6 p-3 d-flex flex-column justify-content-between">
                    <div class="card-body p-0">
                        <div class="card-title fw-bold text-truncate fs-5 fs-md-4 fs-lg-3">
                            {{ album.name }}
                        </div>
                        <p class="card-text fs-6 fs-md-5">
                            <strong>Tracks:</strong> {{ album.total_tracks }}
                        </p>
                        <p class="card-text fs-6 fs-md-5 text-truncate">
                            <strong>Released:</strong> {{ album.release_date }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
