<div class="container-fluid p-5 track-list-container">


    <!-- Show loading spinner while fetching data -->
    <div *ngIf="loading" class="d-flex justify-content-center align-items-center mt-5">
        <div class="spinner-border custom-spinner" role="status"></div>
    </div>

    <div *ngIf="!loading && tracks; else tracksError" class="row g-4">
        <!-- row-cols-sm-4, This sets the number of columns per row to 4 on small (≥576px) screen -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let track of tracks">
            <div class="card h-100 track-card shadow-sm rounded">
                <!-- Album Cover -->
                <img *ngIf="track.albumImageUrl.length > 3; else missingImage" src="track.albumImageUrl"
                    class="card-img-top" alt="Album Cover">

                <ng-template #missingImage>
                    <img src="NoImage.png" class="img-fluid rounded" alt="Album image missing" />
                </ng-template>

                <div class="card-body p-3 text-center">
                    <!-- Track Name -->
                    <h5 class="track-title fw-bold fs-5 mb-2 text-truncate" title="{{ track.name }}">{{ track.name }}
                    </h5>

                    <!-- Track Number -->
                    <p class="mb-2 fs-6"><strong>Track:</strong> #{{ track.track_number }}</p>

                    <!-- Track Duration (Convert from ms to minutes:seconds) -->
                    <p class="mb-2 fs-6">
                        <strong>Duration:</strong> {{ formatDuration(track.duration_ms) }}
                    </p>

                    <button
                        class="btn delete-btn d-flex align-items-center justify-content-center rounded p-2 fw-bold w-100"
                        (click)="deleteFromFavorites(track)">
                        <span class="fs-6">Delete from Favorites</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <ng-template #tracksError>
        <app-error-message *ngIf="!loading && errorMessage" [message]="errorMessage"></app-error-message>
    </ng-template>

</div>