<div class="container-fluid album-container p-5">

    <!-- Show loading spinner while fetching data -->
    <div *ngIf="loading" class="d-flex justify-content-center align-items-center mt-5">
        <div class="spinner-border custom-spinner" role="status"></div>
    </div>

    <!-- Display album details and tracks -->
    <div *ngIf="album && !loading; else albumError" class="row">
        <div class="col-md-3 mt-4">
            <div
                class="album-details d-flex flex-column align-items-center justify-content-center text-center p-4 rounded">
                <!-- Album cover -->
                <img *ngIf="album.images.length" [src]="album.images[0].url" alt="{{album.name}}"
                    class="img-fluid album-image d-none d-md-block mb-2">
                <img *ngIf="album.images.length > 1" [src]="album.images[1].url" alt="{{album.name}}"
                    class="img-fluid album-image d-md-none mb-2">

                <!-- Album name -->
                <div class="album-title text-center fw-bold fs-md-4 fs-3 mb-2">{{ album.name }}</div>

                <!-- Album metadata -->
                <p class="text-center mb-1 fs-md-6"><strong>Total Tracks:</strong> {{ album.total_tracks }}</p>
                <p class="text-center mb-1 fs-md-6"><strong>Release Date:</strong> {{ album.release_date }}</p>
            </div>
        </div>
        <div class="col-md-9 mt-4">
            <!-- Album's tracks component -->
            <app-album-tracks [tracks]="tracks" [albumImageUrl]="albumImageUrl"
                (trackFavorited)="onTrackFavorited($event)"></app-album-tracks>
        </div>
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div *ngFor="let toast of toasts" 
             class="toast show custom-toast" 
             [ngClass]="{'error-toast': toast.type === 'error'}"
             role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">
                    {{ toast.type === 'error' ? 'Error' : 'Favorite Added' }}
                </strong>
                <button type="button" class="btn-close" (click)="removeToast(toast.id)"></button>
            </div>
            <div class="toast-body">
                {{ toast.type === 'error' ? toast.trackName + ' is already in favorites!' : toast.trackName + ' added to favorites!' }}
            </div>
        </div>
    </div>    

    <ng-template #albumError>
        <app-error-message *ngIf="!loading && errorMessage" [message]="errorMessage"></app-error-message>
    </ng-template>
</div>