.album-container {
    background-color: #121212;  
    color: #ffffff;
    min-height: 100vh;
}

// Album Details Card
.album-details {
    background-color: #282828;
    color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.album-image {
    width: 100%;
    max-width: 220px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.album-title {
    color: #1DB954;
}

strong {
    color: #1DB954;
}

.custom-spinner {
    width: 4rem;  
    height: 4rem;
    border-width: 5px;
    color: #1DB954 !important;
}
